Repository rodmk/django-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort-autofix, prettier-autofix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # environment setup hooks
      - id: uv-sync
        name: uv sync
        entry: bash -c 'uv sync && git add -u' _
        language: system
        pass_filenames: false
      - id: yarn-install
        name: yarn install
        entry: bash -c 'yarn install && git add -u' _
        language: system
        pass_filenames: false

      # ruff hooks
      - id: ruff-check-autofix
        name: ruff check (autofix)
        entry: bash -c 'uv run ruff check --fix-only "$@" && git add -u' _
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format-autofix
        name: ruff format (autofix)
        entry: bash -c 'uv run ruff format "$@" && git add -u' _
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        types_or: [python, pyi]
        require_serial: true

      # toml hooks
      - id: toml-sort-autofix
        name: toml-sort (autofix)
        entry: bash -c 'uv run toml-sort -i "$@" && git add -u' _
        language: system
        types_or: [toml]

      # prettier hooks
      - id: prettier-autofix
        name: prettier (autofix)
        entry: bash -c 'yarn run prettier --write "$@" && git add -u' _
        language: system
        types_or: [yaml]

yarn
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  Makefile
  README.md
  package.json
  yarn.lock
Due: prettier-autofix

mypy
  .github/workflows/test.yml
  Makefile
  apps/hello/views.py
  pyproject.toml
Due: toml-sort-autofix, prettier-autofix

mypy
  .github/workflows/test.yml
  Makefile
  pyproject.toml
Due: toml-sort-autofix, prettier-autofix

node version
  package.json
Due: none

cache
  .envrc
  .github/actions/setup/action.yml
  apps/README.md
Due: prettier-autofix

no extras
  .github/actions/setup/action.yml
Due: prettier-autofix

vscode
  .envrc
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  apps/hello/views.py
Due: none

rm readme
  apps/README.md
Due: none

action path
  .github/workflows/test.yml
Due: prettier-autofix

comma
  apps/hello/tests.py
Due: none

merge queue
  .github/workflows/test.yml
Due: prettier-autofix

Merge queue (#4)
  .github/workflows/test.yml
Due: prettier-autofix

mypy cache warmer
  .github/workflows/warm-mypy-cache
Due: none

mypy cache warmer (#5)
  .github/workflows/warm-mypy-cache
Due: none

rename
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

save action
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

Mypy cache warmer (#6)
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

rename
  .github/workflows/warm-mypy-cache
Due: none

uv run
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

Mypy cache warmer (#7)
  .github/workflows/warm-mypy-cache
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

caching
  .github/actions/build-time-key-fragment/action.yml
  .github/workflows/test.yml
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

caching (#8)
  .github/actions/build-time-key-fragment/action.yml
  .github/workflows/test.yml
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

mypy caching
  .github/workflows/test.yml
  .github/workflows/warm-mypy-cache.yml
Due: prettier-autofix

ci cache
  .github/actions/build-time-key-fragment/action.yml
  .github/actions/setup/action.yml
  pyproject.toml
  uv.lock
Due: toml-sort-autofix, prettier-autofix

absolute imports
  apps/hello/admin.py
  apps/hello/tests.py
  apps/hello/urls.py
  apps/hello/views.py
Due: none

more ci
  .github/actions/setup/action.yml
Due: prettier-autofix

extend view
  apps/hello/urls.py
  apps/hello/views.py
  mysite/urls.py
Due: none

readme
  README.md
Due: none

nomerge check
  .github/workflows/test.yml
Due: prettier-autofix

fix maybe
  .github/workflows/test.yml
Due: prettier-autofix

squash test title
  .envrc
Due: none

nomerge check (#9)
  .github/workflows/test.yml
Due: prettier-autofix

squash test title (#10)
  .envrc
Due: none

mypy errors
  .github/workflows/test.yml
  manage.py
Due: prettier-autofix

warning
  .github/workflows/test.yml
Due: prettier-autofix

fn name
  manage.py
Due: none

pipefail
  .github/workflows/test.yml
Due: prettier-autofix

step summary
  .github/workflows/test.yml
Due: prettier-autofix

kiss
  .github/workflows/test.yml
Due: prettier-autofix
